.cards-wrapper {
    padding: 0 48px;
}

.cards {
    padding: 0 48px;
    display: flex;
    flex-wrap: wrap;;
}

.cards__item-wrapper {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 28px;
}

.cards__item {
    padding: 0 16px;
}

@media (max-width: 768px) {
    .cards-wrapper {
        padding: 0 24px;
    }

    .cards {
        padding: 0 32px;
    }

    .cards__item-wrapper {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 540px) {
    .cards__item-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .cards-wrapper {
        padding: 0 12px;
    }

    .cards {
        padding: 0 12px;
    }
}


